* {
  box-sizing: border-box;
  font-family: monospace;
}
html, body { margin: 0; padding: 0; }

html {
  background: #f1e0be;
  color: #2b2525;
}

a {
  color: #686875;
  cursor: pointer;
}

h1 {
  margin: 0;
}

body {
  font-size: 135%;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

button, input, select {
  font-size: 100%;
  min-height: 28px;
  padding: 1px;
}

body > header {
  width: 1080;
  margin: 10px auto;
  text-align: center;
}

#login,
#main {
  min-height: 400px;
  width: 900px;
  margin: 30px auto;
}

header {
  margin-top: 7px;
}
  header img {
    width: 50px;
    margin-bottom: -7px;
  }

#login {}

#main {
  display: flex;
}
  #main > * {
    padding: 2px 26px;
  }
  #list {
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
  }
    #list button {
      margin: 2px 0;
    }
  #newsite {}
    #newsite label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
      #newsite input {
        margin-left: 4px;
        flex-grow: 2;
      }
  #site {
    min-width: 300px;
  }
    #site header {
      text-align: center;
    }
    #site h1 {
      word-wrap: break-word;
    }
    #site ul {
      margin: 6px 0;
    }
    #site li {
      list-style: none;
    }

    #site-data {}
      #site-data label {
        display: flex;
        justify-content: space-between;
        margin: 4px 0;
        flex-wrap: wrap;
        align-items: center;
      }
        #site-data input,
        #site-data textarea {
          flex-grow: 2;
          margin: 0 4px;
        }
        #site-data textarea { min-height: 80px; }
        #site-data img {
          height: 1.8em;
          flex-shrink: 2;
          margin: 0 4px;
        }
      #site-data .label {
        display: flex;
        justify-content: space-between;
      }
      #site-data .subitems {}
        #site-data .subitems > * {
          margin-top: 3px;
          display: flex;
          flex-wrap: wrap;
        }
          #site-data .subitems > * input { flex-grow: 2; }
          #site-data .subitems > * button { flex-shrink: 2; }
        #site-data .subitems input {
          width: initial;
          max-width: initial;
          min-width: initial;
        }
      #site-data .submit {
        text-align: right;
      }
  #source {}
    #source .close {
      text-align: right;
      margin: 12px;
    }
    #source .provider-data {}
      #source .provider-data label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      #source .provider-data input,
      #source .provider-data select {
        flex-grow: 2;
        margin-left: 4px;
      }
    #source label {
      display: flex;
      justify-content: space-between;
      margin: 4px 0;
    }
      #source label.root input,
      #source label.provider select {
        margin-left: 12px;
        width: 340px;
      }
    #source .delete-save {
      margin-top: 12px;
      display: flex;
      justify-content: space-around;
    }

#log {
  height: auto;
  min-height: 600px;
  color: white;
  background: #333;
  margin: auto;
  padding: 12px;
}

.notice.error:before {
  content: '.';
  padding: 9px 7px 2px;
  color: transparent;
  background: red;
  margin-right: 10px;
  font-size: 3px;
}
